body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HOME.JS STUFF */
/*======================*/
.home-page-title-black-border {
  border: 1px solid black;
  padding: 2rem;
  margin: 0rem;
  font-family: -apple-system;
  font-size: 50px;
}




.sidebox-flex{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: rgb(216, 250, 217);

  position: absolute;
  left: 110px;
  height: 800px;
  width: 313px;
}

.sidebox-flex-items{
  border-radius: 35px;
  width: 300px;
  Margin: 5px;
  font-size: 30px;
  font-family: -apple-system;
  border: 1px solid black;
  background-color: rgb(242, 208, 208);
  color: black;
}

.sidebox-item-1{
  min-height: 100px;
}

.sidebox-item-2{
  min-height: 100px;
}





.home-page-title-black-border-image{
  border: 1px solid black;
  position: absolute;
  right: 350px;
  width: 700px;

}

.registry-button-link{
  display: flex;
  border-radius: 35px;
  padding: 20px 20px;
  color: blue;
  background-color: black;
  cursor: pointer;
}

.hotel-creation-button-link{
  display: flex;
  border-radius: 35px;
  padding: 20px 70px;
  color: blue;
  background-color: black;
  cursor: pointer;
}

.home-page-info-black-border {
  border: 1px solid black;
  height: 4px;
  width: 10px;
  padding: 10rem;
  margin: 1rem;
  font-family: -apple-system;
  font-size: 12px;
}

/* top left text For Home Page image  */
.top-left-hotel-location-input-img-load {
  position: absolute;
  top: 250px;
  left: 170px;
  color: white;
}

/* Link to creating a hotel */
.bottom-img-hotel-creation-input-img-load {
  position: absolute;
  margin:10px;
  right: 400px;
  color: white; 
}


/* STUFF FOR ABOUTUS.JS */
/*======================*/

.our-story-image-background{
  position: absolute;
  border: 1px solid black;
  border-radius: 35px;
  top: 300px;
  right: 370px;
  padding: 10px;
  background-color: lightblue;
  opacity: .95;
}
.our-story-image-text{
  font-family: -BlinkMacSystemFont;
  color: black; 
  
}

.text-backgrounds-about-us{
  font: -apple-system;
  border: 1px solid black;
  background-color: lightblue;
  border-radius: 35px;
  position: relative;
  left: 380px;
  opacity: .95;
  margin:10px;
  padding: 10px;
  width: 500px;
}
.our-team-background{
  padding: 10px;
}

.our-mission-background{
  
}